* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
    margin: 2rem 0;
}

section {
    margin: 2rem 0;
}

#product-form {
    max-width: 1200px;
    padding: 1rem 0.5rem;
    background: #ccc;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px solid #000;
    max-width: 80vw;
    margin: auto;
}

.product-card {
    background-color: #ccc;
    width: 25vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

footer {
    height: 20vh;
    background-color: #000;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}