* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

header {
    height: 10vh;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
    margin: 2rem 0;
}

section {
    margin: 2rem 0;
}

#product-form {
    max-width: 1200px;
    padding: 1rem 0.5rem;
    background: #ccc;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px solid #000;
    max-width: 80vw;
    margin: auto;
}

.product-card {
    background-color: #ccc;
    width: 25vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#cart-icon {
    width: 64px;
    position: fixed;
    right: 3rem;
    border-radius: 50%;
    border: 1px solid #333;
    padding: .75rem;
    cursor: pointer;
}

#cart-quantity {
    position: absolute;
    display: block;
    background: #eee;
    width: 16px;
    right: .15rem;
    bottom: .0rem;
    padding: .25rem;
    border: 1px solid #ccc;
    border-radius: 50%;
}

#cart-view-container {
    margin: 1rem auto;
    max-width: 80vw;
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #8a8889;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.cart-product-container {
    background-color: #ececec;
    padding: .25rem;
    border-radius: 5px;
}

footer {
    height: 20vh;
    background-color: #000;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}