* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#product-form {
    max-width: 1200px;
    padding: 1rem 0.5rem;
    background: #ccc;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}